//  Paleta de colores
  $color-light-resalt:white;
  $color-primary:rgb(22, 201, 255);
  $color-secundary:rgb(2, 162, 211);
  $color-complementary:rgb(255, 229, 144);
  $color-complementary-hover:rgba(255, 242, 200, 0.473);
  $color-font-p:rgba(6, 6, 6, 0.863);
  $color-font-links-nav-hover:rgb(255, 255, 255);
  $color-hover-background:rgba(74, 213, 255, 0.486);
  