* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  color: #000;
}

:root {
  font-size: 20px;
}

.item-nav {
  padding: .40rem;
  color: rgba(8, 8, 8, 0.781);
  font-size: .9rem;
  font-weight: 400;
  font-family: sans-serif;
}

.item-nav:hover {
  color: white;
  border-radius: .30rem;
  background-color: rgba(6, 175, 226, 0.315);
}

ul {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.fa-bars {
  display: none;
}

.img-inicio {
  width: 100%;
  height: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: -0;
  -webkit-box-shadow: 0 5px 0px #00cce7;
          box-shadow: 0 5px 0px #00cce7;
  background-image: url(../imgs/negrito.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-inicio ::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.089);
  z-index: -1;
}

.img-inicio .encabezado-main {
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid red;
}

.img-inicio .encabezado-main .cont-encabezado h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  color: white;
}

.img-inicio .encabezado-main .cont-encabezado h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: #fcaa4d;
}

.img-inicio .encabezado-main .cont-encabezado form {
  border: 5px solid red;
  width: 60%;
  height: 1.5rem;
}

.img-inicio .encabezado-main .cont-encabezado form #search-course {
  width: 100%;
  height: 20rem;
}

@media (min-width: 720px) and (max-width: 1024px) {
  .img-inicio .menu-navbar {
    height: 3.5rem;
    padding: 0.8rem 1rem;
  }
  .img-inicio .menu-navbar .nav-logo {
    font-size: 1.5rem;
  }
  .img-inicio .menu-navbar .item-nav {
    font-size: .7rem;
  }
}

@media (min-width: 300px) and (max-width: 720px) {
  .img-inicio .menu-navbar {
    height: auto;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-in-out 2s;
            transition-timing-function: ease-in-out 2s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: .2rem .6rem;
  }
  .img-inicio .menu-navbar .nav-logo {
    font-size: 1.2rem;
  }
  .img-inicio .menu-navbar li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
  }
  .img-inicio .menu-navbar li:hover {
    -webkit-box-shadow: 0 0.1rem 0.2rem rgba(12, 12, 12, 0.3);
            box-shadow: 0 0.1rem 0.2rem rgba(12, 12, 12, 0.3);
  }
  .img-inicio .menu-navbar .item-priority-home {
    width: 100%;
    display: none;
  }
  .img-inicio .menu-navbar .item-nav {
    text-align: center;
    font-size: .7rem;
    width: 100%;
  }
  .img-inicio .menu-navbar ul {
    height: auto;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=practice2.css.map */